<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Code Coop - Exercise Catalog</title>
    <link rel="icon" href="../resources/images/code-coop.png">
    <link rel="stylesheet" href="../resources/css/master.css">
</head>
<body>
    <header>
        <h1>CodeCoop</h1>
        <p>Coding Exercise Website</p>
    </header>

    <div class="row">
        <div id="login-err-holder">
            <p id="login-err"></p>
        </div>
        <form id="login-form" action="/login" method="post">
            <input type="text" name="username" id="username-field" placeholder="Username" required>
            <input type="password" name="password" id="password-field" placeholder="Password" required>
            <input type="submit" value="Login" id="form-submit">
        </form>
        <p>Don't have an account? <a href="register.html">Create one!</a></p>
        <script>
            const loginForm = document.getElementById('login-form');
            const loginButton = document.getElementById('form-submit');

            loginButton.addEventListener("click", (e) => {
                e.preventDefault();
                const username = loginForm.username.value;
                const password = loginForm.password.value;
            })
        </script>
    </div>
    <div class="row">
        <p></p>
        <div class="searchBar">
            <input type="text" id="search-field" placeholder="Search">
            <button type="submit" id="search-button"><img src="../resources/images/search-icon.png" style="width:20px;height:20px;"></button>
            <script>
                var searchButton = document.getElementById('search-button');

                searchButton.addEventListener("click", (e) => {
                    var input, filter, table, td, tr, txtValue;
                    input = document.getElementById("search-field");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("catalogContent");
                    tr = table.getElementsByTagName("tr");

                    for(i=0; i<tr.length; ++i) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if(td) {
                            txtValue = td.textContent || td.innerText;
                            if(txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                })
            </script>
        </div>
        <h2>Challenges</h2>
        <div class="catalogTable">
            <table>
                <thead>
                    <tr>
                        <th>Exercise Name</th>
                        <th>Author</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="catalogContent">
                    {% for ch in challenge %}
                    <tr>
                        <td>{{ ch.name }}</td>
                        <td>{{ ch.author }}</td>
                        <td>{{ ch.desc }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
