<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>CodeCoop - Create New Exercise</title>
    <link rel="icon" href="../resources/code-coop.png">
</head>

<body>

    <div class="row">
        <h1>Exercise Description</h1>
        <p>Write the description and instructions for your activity</p>
        <textarea id="description-field" rows="25" cols="85" placeholder="Enter Exercise Description Here.."></textarea>
        <script>
            /*SCRIPT THAT READS DEXCRIPTION FIELD*/
        </script>
    </div>
    <div class="row">
        <div class="code-editor">
            <textarea id="editor" rows="25" cols="85" placeholder="Enter Solution Code Here.."></textarea>
            <script>
                /*SCRIPT THAT READS CODE FROM EDITOR*/
            </script>
        </div>
        <div class="code-output">
            <canvas id="out" width="400" height="400"></canvas>
            <script>
                /*SCRIPT THAT HANDLES EDITOR OUTPUT*/
            </script>
        </div>
    </div>
    <div class="row">
        <button type="submit" id="exercise-submit">Submit Exercise</button>
    </div>

</body>
</html>
