<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>CodeCoop - Edit Challenge</title>
    <link rel="icon" href="../resources/code-coop.png">
</head>

<body>

    <div class="row">
        <form class="" action="/challenge?c={{ ch.id }}" method="post">
            <h2>Challenge Description</h2>
            <p>Write the description and solution code to your challenge</p>
            <textarea id="description-field" rows="25" cols="85" placeholder="Enter Exercise Description Here.."></textarea>
            <textarea id="code-editor" rows="25" cols="85" placeholder="Enter Solution Code Here.."></textarea>
            <h2>Enter Test Cases</h2>
            <input type="text" id="tc1" value="" placeholder="Enter Test Case..">
            <input type="checkbox" id="hid1" value="">
            <input type="text" id="tc2" value="" placeholder="Enter Test Case..">
            <input type="checkbox" id="hid2" value="">
            <input type="text" id="tc3" value="" placeholder="Enter Test Case..">
            <input type="checkbox" id="hid3" value="">
            <input type="text" id="tc4" value="" placeholder="Enter Test Case..">
            <input type="checkbox" id="hid4" value="">
            <input type="text" id="tc5" value="" placeholder="Enter Test Case..">
            <input type="checkbox" id="hid5" value="">
        </form>
    </div>

</body>
</html>
