<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CodeCoop - {{ name }}</title>
        <link rel="icon" href="../resources/code-coop.png">
    </head>
<body>

<div>
    <h1>{{ name }}</h1>
    <p>{{ description }}</p>
</div>

<div>
    <div class="code-editor">
        <textarea id="editor" rows="25" cols="85">Enter code here</textarea>
        <p><button type="button" id="run">Run</button></p>
        <script>
            //script that will interpret entered python Code
            //lmk how we implement brython so i can pipe inputs/outputs
            var code = document.getElementById("editor");
            var codeArray = code.value.split("\n");
        </script>
    </div>
    <div class="code-output">
        <div width="400" height="400">
            <canvas id="out" width="400" height="400" style="border-style: solid;"></canvas>
            <script>
                var c=document.getElementById('out');
                var ctx=c.getContext('2d');
                ctx.font='15px Arial';
                ctx.fillText('Code outputs here (htmlID: myCanvas)',20,50);
            </script>
        </div>
    </div>
</div>

</body>
</html>
