<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcome to CodeCoop!</h2>
    {% if current_user.is_authenticated %}
    <b>{{ current_user.uname }}</b> is logged in
    <br>
    <form action="/logout" method="post">
      <input type="submit" value="Log Out">
    </form>
    <br>
    <a href="dashboard">Dashboard</a>
    {% else %}
    <a href="login">Log In</a>
    {% endif %}
    <br>
    <a href="browse">Browse</a>
  </body>
</html>
